@{
	ViewData["Title"] = "Home Page";
}
<div class="text-center">
	 <div class="form-row">
		  <div class="col-3">
			   <input type="text" class="form-control" placeholder="Ad" required="required">
		  </div>
		  <div class="col-3">
			   <input type="text" class="form-control" placeholder="Soyad" required="required">
		  </div>
		  <div class="col-3">
			   <input type="text" class="form-control" placeholder="Şirket İsmi" required="required">
		  </div>
		  <div class="col-3">
				   <select class="form-control" aria-label="Default select example" required="required">
					<option value="1">Telefon Numarası</option>
					<option value="2">E-Mail Adresi</option>
					<option value="3">Konum</option>
				   </select>
		  </div>
		  <br /><br />
		  <div class="col-12">
			   <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" placeholder="İletişim İçeriği" required="required"></textarea>
		  </div>
		  <br /><br /><br />
			  <p class="text-center"><button class="btn btn-primary" type="submit" id="btnSaveContact">Contact Kişisini Ekle</button></p>
	</div>
</div>
 <br><br><br>
<div class="text-center">
	 <table class="table">
		  <thead>
			   <tr>
					<th scope="col">#</th>
					<th scope="col">Name</th>
					<th scope="col">SurName</th>
					<th scope="col">Company</th>
					<th scope="col">Contact Informations</th>
			   </tr>
		  </thead>
		  <tbody>
			   <tr>
			   </tr>
		  </tbody>
	 </table>
</div>



@section Scripts {
<script src="~/js/Contact/Contact.js"></script>
}
