@{
	ViewData["Title"] = "Home Page";
}
<div class="text-center">
	 <div class="form-row">
		  <div class="col-4">
			   <input id="inputName" type="text" class="form-control" placeholder="Ad" >
		  </div>
		  <div class="col-4">
			   <input id="inputSurName" type="text" class="form-control" placeholder="Soyad" >
		  </div>
		  <div class="col-4">
			   <input id="inputCompany" type="text" class="form-control" placeholder="Şirket İsmi" >
		  </div>
		  <br /><br />
		  <div class="col-4">
			   <input id="inputPhone" type="text" class="form-control" placeholder="Telefon Numarası" >
		  </div>
		  <div class="col-4">
			   <input id="inputEmail" type="text" class="form-control" placeholder="Email" >
		  </div>
		  <div class="col-4">
				<select id="selectLocation" class="form-control" aria-label="Default select example">
				  <option value="Istanbul">Istanbul</option>
				  <option value="Ankara">Ankara</option>
				  <option value="Sivas">Sivas</option>
				  <option value="Londra">Londra</option>
				  <option value="Tokyo">Tokyo</option>
				  <option value="Paris">Paris</option>
				</select>		  
		  </div>
		  <br /><br />
		  <div class="col-12">
			   <textarea class="form-control" id="inputContent" rows="1" placeholder="İletişim İçeriği" required="required"></textarea>
		  </div>
		  <br /><br /><br />
			  <p class="text-center"><button class="btn btn-primary" type="submit" id="btnSaveContact">Contact Kişisini Ekle</button></p>
	</div>
</div>
 <br><br><br>
<div class="text-center">
	 <table class="table">
		  <thead>
			   <tr>
					<th scope="col">#</th>
					<th scope="col">Name</th>
					<th scope="col">SurName</th>
					<th scope="col">Company</th>
					<th scope="col">Informations</th>
			   </tr>
		  </thead>
		  <tbody> 
			   <tr>
		  
			  </tr>
		  </tbody>
	 </table>
</div>



@section Scripts {
<script src="~/js/Contact/Contact.js"></script>
}
